<% include ../partials/header %>

<h1 class="display-4 text-center">STUDENT</h1>
<table class = "table">
<thead>
<tr>
<th>SID</th>
<th>Title</th>
<th>Fisrtname</th>
<th>Lastname</th>
</tr>
</thead>
<tbody>
 <% studens.forEach(function(student) { %>
 <tr>
 <td scope ="row"><%= student.sid %></td>
 <td><%= student.title %></td>
 <td><%= student.firstname %></td>
 <td><%= student.lastname %></td>
 </tr>
<% }); %>
</tbody>
</table>
<% include ../partials/header %>